/* Most comments have been tooled by Paraphrasing AI in order to sound more Professional and keep it neat. */
/* General Reset */
/* Imported font from Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Protest+Guerrilla&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif; 
    background-color: #e9e9e9;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* This will center the accessible material in the Header container. */
.Header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling the Logo provided as 'logo.svg' */
.Logo img {
    width: 200px;
    height: auto;
}

/* This will be in charge of putting the material front and center. */
nav {
    display: flex;
    justify-content: center;
}

/* The Navigation's list elements are styled in this way. These include arranging them in a row, eliminating the default padding and bulletpoint design, and ensuring that all of the information remains on a single line.. */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    white-space: nowrap; 
}

/* By doing this, the list items' font size will be set to 18 pixels. */
nav ul li {
    font-size: 18px;
}

/* By eliminating the underline and changing the Anchor tags' color to black, this styles them. */
nav ul li a {
    color: black;
    text-decoration: none;
}

/* The h1 and h2 tags are styled in this manner. Using the Protest Guerrilla font and making its font-size three times larger than the standard font size is one of them. */
h1, h2 {
    font-family: 'Protest Guerrilla'; /* Protest Guerrilla Font-family */
    font-size: calc(3 * 1rem); /* Font-size three times larger than the default font size. */
}

/* This gives the border the designated color. */
main {
    border: 1px solid gray; 
}

/* This will apply a white background color to the ".Main-Heading-Container" container. */
.Main-Heading-Container {
    background-color: white; /* Content Background Colour */
}

/* This sets Protest Guerrilla as the font-family for the h1 tag inside the ".Main-Heading-Container" container. */
.Main-Heading-Container h1 {
    font-family: 'Protest Guerrilla';
}

/* This causes the text within the ".Right-Padding" container to be set or aligned to the left. */
.Right-Padding {
    text-align: left;
}

/* Headings Section */
/* This container is where the three headings are mostly kept. In their columns, I entered three. */
.Three-Headings-Main-Container {
    column-count: 3;
}

/* The ".Heading-Item-Container" container is styled in this manner. I aligned them first, stacked them vertically, and used a flexbox layout. */
.Heading-Item-Container {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
}

/* Inside the ".Heading-Item-Container" container, I removed the default margin of the h2 tag. */
.Heading-Item-Container h2 {
    margin: 0; 
    margin-top: 10px;
}

/* I removed the default margin of the h2 tag inside the ".Heading-Item-Container" container. */
.Heading-Item-Container p {
    text-align: left;
    margin: 0;
}


/* Images Section */
/* I made two columns for the Grid layout that I used for this container. Additionally, I eliminated the container's default padding and margin. */
.Images-Container {
    display: grid;
    grid-template-columns: 2fr 2fr; 
    margin: 0; 
    padding: 0;
    width: 100%; 
}

/* One Large Image */
/* This guarantees that the picture retains its aspect ratio and functions as a block element by styling it inside the ".Featured-Image" container. */
.Featured-Image img {
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 0;
}

/* Four Small Images */
/* For this container, I too utilized the Grid layout, but I made two separate columns for the provided little images. I took out its defauled padding as well. */
.Example-Images {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    padding: 0; 
}

/* By styling the picture inside the "assets/articulation.jpg" container, you can make sure it keeps its aspect ratio and acts like an element. */
.Example-Image img {
    width: 100%; 
    height: auto; 
    display: block; 
    margin: 0;
}


/* Author Section */
/*I used a flexbox layout for the ".Author-Main-Container" container. */
.Author-Container {
    display: flex;              
    align-items: center;        
    justify-content: center;     
    flex-direction: row-reverse; /* This is to position the text on the left and the author's photo on the right. */
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

/* This makes the author's photo circular and sets its width to 200 pixels. */
.Author-profile-Container img {
    width: 200px;
    height: auto;
    border-radius: 50%;          
}

/* To make sure the text fills the remaining area, this styling is used. */
.Author-biography-Container {
    flex: 1;                     
}

/* The h2 tag will be centered inside the ".Author-biography-Container" container. */
.Author-biography-Container h2 {
    text-align: center;
}

/* Footer Section */
/* This styles the website's footer. This entails centering the text, making the backdrop black, and changing the font color to white. */
footer {
    color: white;
    background-color: #14181d;
    text-align: center;
}

/* Media Query for Responsive code*/

/* Media Query for Desktop Layout (also known as Desktop Screen; Viewport Width: 1024px and up) */
@media (min-width: 1024px) {

    /* Body */
    /* By doing this, the body and its contents will be centered at a fixed 1024 pixel width. */
    body {
        margin: auto;
        width: 1024px;
    }


    /* Logo */
    /* This adds room by setting a margin of 50 pixels above the logo. */
    .Logo {
        margin-top: 50px;
    }


    /* Navigation */
    /* This creates a spacing of 50 pixels between the navigation items. */
    nav ul {
        gap: 50px; 
    }


    /* Main Container */
    /* This sets the "".Main-Heading-Container" container's padding to 50 pixels. */
    .Main-Heading-Container {
        padding: 50px; 
    }

    /* This makes the text size 130 pixels and eliminates the default margin. */
    .Main-Heading-Container h1 {
        margin: 0;
        font-size: 130px;
    }
    
    /* By doing this, the default margin is eliminated and the font size is increased by three times. */
    .Sub-Heading p {
        margin: 0;
        font-size: calc(3 * 1rem);
    }

    /* The padding to the right of the text is 170 pixels. */
    .Right-Padding p {
        padding-right: 170px;
    }


    /* Three-Headings-Main-Container */
    /* This creates a 50 pixel space between each column. */
    .Three-Headings-Main-Container {
        column-gap: 50px; 
    }


    /* Author Section */
    /* This creates a 50 pixel space between the image and text and adds 50 pixels of padding to the ".Author-Main-Container" container. */
    .Author-profile-Container {
        padding: 50px; 
        gap: 50px; 
    }

    /* Footer */
    /* This adds 50 pixels to the footer's padding. */
    footer {
        padding: 50px; 
    }
}


/* Tablet Media Query (Viewport Width: 720px to 1023px) */
@media (min-width: 720px) and (max-width: 1023px) {

    /* Body section */
    /* This establishes a fixed width of 720 pixels and centers the body. */
    body {
        margin: auto;
        width: 720px;
    }

    
    /* Logo */
    /* This makes the logo or image 80 pixels in size. Additionally, a top margin of 30 pixels is established. */
    .Logo img {
        width: 80px;
        height: auto;
        margin-top: 30px;
    }


    /* Navigation */
    /* This establishes a 30 pixel distance between the navigation items. */
    nav ul {
        gap: 30px;
    }


    /* Main Container */
    /* This places 30 pixels of padding around the "" and centers the text when read on a tablet.container labeled "Main-Heading-Container." */
    .Main-Heading-Container {
        text-align: center;
        padding: 30px;
    }

    /* By doing this, the default margin is eliminated and the font size is increased by three times. */
    .Sub-Heading p {
        margin: 0;
        font-size: calc(3 * 1rem);
    }

    /* Verifies that, when viewed on a tablet, the term "Frontier" appears in a new line. */
    .Sub-Heading span {
        display: block;
    }


    /* Headings Section (Three (3) Headings) */
    /* On tablet devices, this makes the column equal to 1. Additionally, there is a 30-pixel space between each column. */
    .Three-Headings-Main-Container {
        column-count: 1;
        column-gap: 30px;
    }



    /* Images Section */
    /* The photos are layered into a single column using a grid layout. In order to provide room between the photos, a gap of 30 pixels was also created. */
    .Images-Container {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 30px;
    }

    /* When viewed on a tablet, this might obscure the Featured image. */
    .Featured-Image {
        display: none;
    }

    /* This uses a Grid lay-out to create two individual columns for the first two images a.k.a. "assets/encores-2.jpg". */
    .Example-Image {
        display: grid;
        grid-template-columns: 2fr 2fr; 
    }

    /* This ensures that the images within the "assets/articulation.jpg" container maintains their aspect ratio. */
    .Example-Image img {
        width: 100%; 
        height: auto; 
    }

    /* This ensures that the images within the "assets/eulogy-for-evolution.jpg" container maintains their aspect ratio. */
        .Example-Image img {
            width: 100%; 
            height: auto; 
        }
    

    /* This ensures that the images within the "assets/all-encores.jpg" container maintains their aspect ratio. */
        .Example-Image img {
            width: 100%; 
            height: auto; 
        }


    /* Author Section */
    /* This sets 30 pixels of padding to the ".Author-Main-Container" container. */
    .Author-Container {
        padding: 30px;
    }

    /* Footer Section */
    /* This sets 30 pixels of padding to the footer */
    footer {
        padding: 30px; 
    }
}


/* Large Mobile Device Media Query (Viewport Width: 540px to 719px) */
@media (min-width: 540px) and (max-width: 719px) {

    /* Logo */
    /* This sets the image or Logo size to 80 pixels. 20 pixels of top margin is also set. */
    .Logo img {
        width: 80px;
        height: auto;
        margin-top: 20px;
    }

    /* Navigation */
    /* This sets 20 pixels of gap or space between the Navigation items */
    nav ul {
        gap: 20px; 
    }

    /* This sets the font-size of Anchor Tags to 16 pixels when viewed on large mobiles. */
    nav ul li a {
        font-size: 16px;
    }


    /* This center aligns the text within the ".Main-Heading-Container" container and sets 20 pixels of padding. */
    .Main-Heading-Container {
        text-align: center;
        padding: 20px; 
    }

    /* This removes the default margin and sets the font-size to be three times larger than the default font size. */
    .Sub-Heading p {
        margin: 0;
        font-size: calc(3 * 1rem);
    }

    /* Make sures that the word "Frontier" is in a new line when viewed in tablet. */
    .Sub-Heading span {
        display: block;
    }

    /* This sets the column to 1 on large mobile screens and adds 20 pixels of gap or space between. */
    .Three-Headings-Main-Container {
        column-count: 1; 
        column-gap: 20px; 
    }


    /* Images Section */
    /* A grid lay-out is used and stacked the images into one column. 20 pixels of gap was also set to give space between the images. */
    .Images-Main-Container {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 20px; 
    }

    /* This hides the Large image when viewed on a large mobile. */
    .Featured-Image {
        display: none;
    }

    /* This used a Grid lay-out and displays the available images in a single column. */
    .Example-Image {
        display: grid;
        grid-template-columns: 1fr; 
    }

    /* This guarantees that the aspect ratio of the images inside the ".Example-Image" container is maintained. */
    .Example-Image img {
        width: 100%; 
        height: auto; 
    }

    .Example-Image img {
        width: 100%; 
        height: auto; 
    }

    .Example-Image img {
        width: 100%; 
        height: auto; 
    }


    /* Author Section */
    .Author-profile-Container {
        flex-direction: column;   
        text-align: center;       
        padding: 20px;               

    }
    
    /* By doing this, the text or p tag inside the ".Author-Text-Container" container is aligned to the left. */
    .Author-biography-Container p {
        text-align: left;
    }


    /* Footer Section */
    /* This gives the footer a padding of 20 pixels. */
    footer {
        padding: 20px; 
    }
}


/* Query for Media on Small Mobile Devices (360px to 539px is the viewport width.) */
@media (max-width: 539px) {
   
    /* Logo */
    /* With a top margin of 12 pixels, this resizes the image or logo to 80 pixels. */
    .Logo img {
        width: 80px;
        height: auto;
        margin-top: 12px;
    }

    /* Navigation */
    /* This establishes a distance of 12 pixels between the navigation items. */

    nav ul {
        gap: 12px; 
    }

    /* When seen on small mobile devices, this makes Anchor Tags' text size 14 pixels. */
    nav ul li a {
        font-size: 14px; /* Font size for all the small devices */
    }


    /* Images Section */
    .Main-Heading-Container {
        text-align: center;
        padding: 12px; 
    }

    /* By doing this, the default margin is eliminated and the font size is increased by three times. */
    .Sub-Heading p {
        margin: 0;
        font-size: calc(3 * 1rem);
    }
    
    /* This adds 12 pixels of gap or space between and sets the column to 1 on small mobile devices. */
    .Three-Headings-Main-Container {
        column-count: 1; 
        column-gap: 12px; 
    }

    /* Images Section */
    /* The photos are layered into a single column using a grid layout. Additionally, a 12-pixel gap was established to provide distance between the pictures. */
    .Images-Container {
        display: grid;
        grid-template-columns: 1fr; /* Stack images in a column */
        gap: 12px; 
    }

    /* When seen on small mobile devices, this obscures the featured image. */
    .Featured-Image {
        display: none; 
    }

    /* Using a grid format, the four additional photos will be displayed in a single vertical lineup. */
    .Example-Image {
        display: grid;
        grid-template-columns: 1fr; 
    }

    .Example-Images img {
        width: 100%; 
        height: auto; 
    }

    .Example-Images img {
        width: 100%; 
        height: auto; 
    }

    /* Author's Section */
    .Author-Container {
        flex-direction: column;   
        text-align: center;       
        padding: 12px;               

    }
    
    /* By doing this, the ".Author-Text-Container" container's text or p tag is positioned to the left. */
    .Author-biography-Container p {
        text-align: left;
    }


    /* Footer Section */
    /* This sets aside 12 pixels for padding in the footer. */
    footer {
        padding: 12px; 
    }
}