* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #e9e9e9;
    color: #333;
}

header {
    background-color: white;
    text-align: center;
    padding: 20px;
}

.logo {
    width: 80px; /* Default for small mobile */
}

h1 {
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 2.5em; /* Adjust size for desktop */
}

main {
    padding: 12px; /* Default for small mobile */
}

.author-photo {
    border: #14181d;
    border-width: 5;
    height: 40px;
    width: 40px;
    display: block;
    margin: 0 auto;
}

h2 {
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 2em;
    margin-top: 20px;
}

p {
    font-size: 1em; /* Standard text size */
    line-height: 1.5;
    margin: 12px 0; /* Adjust as needed */
}

.album-covers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 12px; /* Small mobile gap */
}

footer {
    background-color: #14181d;
    color: white;
    text-align: center;
    padding: 12px;
}

/* Media Queries */
@media (min-width: 540px) {
    .logo {
        width: 80px; /* Same for large mobile */
        margin: 20px 0;
    }
    main {
        padding: 20px;
    }
    h1 {
        font-size: 3em;
    }
    p {
        font-size: 1.1em;
    }
}

@media (min-width: 720px) {
    main {
        padding: 30px;
    }
    .logo {
        width: 80px;
    }
}

@media (min-width: 1024px) {
    header {
        padding: 50px;
    }
    .logo {
        width: 200px;
    }
    main {
        padding: 50px;
    }
    h1 {
        font-size: 4em; /* Larger title for desktop */
    }
    h2 {
        font-size: 2.5em; /* Larger subheading for desktop */
    }
    p {
        font-size: 1.2em; /* Larger first paragraph */
    }
}