@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Protest+Guerrilla&family=Teko:wght@300..700&display=swap');

$light-blue: #4dccbd;
$dark-blue: #231651;
$white: #FFFFFF;
$black: #070410;
$small-spacing: 16px;
$large-spacing: 48px;
$header-font-size: 3em;
$button-font-size: 2em;
$movie-font-size: 1.5em;
$teko-font: "Teko", sans-serif;
$lato-font: "Lato", sans-serif;
$header-shadow: 0px 10px 5px black;
$container-shadow: 10px 10px 10px black;